.badge {
  background-color: tomato;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  margin-top: 7px;
  margin-left: 7px;
}

.badge2 {
  background-color: tomato;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  animation: badge_rotate 2s linear infinite;
}

@keyframes badge_rotate {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
